In [6]:
import numpy as np
import pandas as pd

data = {
    "AGE": ["Young","Young","Young","Young","Young",
            "Middle","Middle","Middle","Middle","Middle",
            "Old","Old","Old","Old","Old"],
    "JOB_STATUS": [False,False,True,True,False,
                   False,False,True,False,False,
                   False,False,True,True,False],
    "OWNS_HOUSE": [False,False,False,True,False,
                   False,False,True,True,True,
                   True,True,False,False,False],
    "CREDIT_RATING": ["Fair","Good","Good","Fair","Fair",
                      "Fair","Good","Good","Excellent","Excellent",
                      "Excellent","Good","Good","Excellent","Fair"],
    "CLASS": ["No","No","Yes","Yes","No",
              "No","No","Yes","Yes","Yes",
              "Yes","Yes","Yes","Yes","No"]
}
df = pd.DataFrame(data)
display(df)

       AGE  JOB_STATUS  OWNS_HOUSE CREDIT_RATING CLASS
0    Young       False       False          Fair    No
1    Young       False       False          Good    No
2    Young        True       False          Good   Yes
3    Young        True        True          Fair   Yes
4    Young       False       False          Fair    No
5   Middle       False       False          Fair    No
6   Middle       False       False          Good    No
7   Middle        True        True          Good   Yes
8   Middle       False        True     Excellent   Yes
9   Middle       False        True     Excellent   Yes
10     Old       False        True     Excellent   Yes
11     Old       False        True          Good   Yes
12     Old        True       False          Good   Yes
13     Old        True       False     Excellent   Yes
14     Old       False       False          Fair    No

In [9]:
def calculate_entropy(column):
    probs = column.value_counts(normalize=True).values
    # print(probs , "\n")
    probs = probs[probs > 0]          # avoid log2(0)
    return -np.sum(probs * np.log2(probs))

def conditional_entropy(df, attr, target='CLASS'):
    n = len(df)
    ce = 0.0
    for val, subset in df.groupby(attr):
        weight = len(subset) / n
        ce += weight * calculate_entropy(subset[target])
    return ce

In [ ]:

S = calculate_entropy(df['CLASS'])
attributes = [c for c in df.columns if c != 'CLASS']

H_given_attr = {attr: conditional_entropy(df, attr) for attr in attributes}
IG = {attr: S - H_given_attr[attr] for attr in attributes}

root = max(IG, key=IG.get)

print(f"S= {S:.2f}\n")
for attr in attributes:
    print(f"{attr}: S(CLASS|{attr}) = {H_given_attr[attr]:.2f}    IG = {IG[attr]:.2f}")
print("\nRoot :", root)

S= 0.97

AGE: S(CLASS|AGE) = 0.89    IG = 0.08
JOB_STATUS: S(CLASS|JOB_STATUS) = 0.65    IG = 0.32
OWNS_HOUSE: S(CLASS|OWNS_HOUSE) = 0.55    IG = 0.42
CREDIT_RATING: S(CLASS|CREDIT_RATING) = 0.61    IG = 0.36

Root : OWNS_HOUSE