In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, PowerTransformer, LabelEncoder
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score,mean_squared_error,r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import VotingClassifier,AdaBoostClassifier, RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.cluster import KMeans
from sklearn.svm import SVC
from keras.models import Sequential
from keras.layers import Dense

In [2]:
df = pd.read_csv(r'employee_salary_dataset.csv')
df

,EmployeeID,Name,Department,Experience_Years,Education_Level,Age,Gender,City,Monthly_Salary
0,1,Employee_1,Marketing,15,Master,53,Female,Delhi,111416
1,2,Employee_2,Operations,7,Bachelor,25,Female,Bangalore,95271
2,3,Employee_3,IT,12,High School,51,Female,Hyderabad,69064
3,4,Employee_4,Operations,8,PhD,44,Male,Delhi,95091
4,5,Employee_5,Operations,15,Master,36,Female,Delhi,132450
5,6,Employee_6,Finance,3,High School,50,Male,Mumbai,65818
6,7,Employee_7,IT,14,PhD,57,Male,Mumbai,70525
7,8,Employee_8,IT,17,PhD,34,Female,Bangalore,44830
8,9,Employee_9,IT,4,Bachelor,53,Male,Hyderabad,42429
9,10,Employee_10,Operations,18,High School,28,Male,Mumbai,31893
10,11,Employee_11,Marketing,8,PhD,43,Male,Delhi,141381
11,12,Employee_12,IT,4,Master,49,Female,Hyderabad,104909
12,13,Employee_13,Operations,2,Master,23,Female,Hyderabad,72333
13,14,Employee_14,Finance,6,Bachelor,27,Male,Delhi,28436
14,15,Employee_15,Marketing,10,PhD,49,Female,Mumbai,99290
15,16,Employee_16,Finance,4,High School,49,Female,Delhi,101213
16,17,Employee_17,Marketing,18,Master,41,Female,Hyderabad,30895
17,18,Employee_18,Operations,12,PhD,51,Female,Chennai,44738
18,19,Employee_19,HR,2,PhD,32,Male,Chennai,55746
19,20,Employee_20,Marketing,10,Bachelor,49,Male,Bangalore,74377
20,21,Employee_21,Finance,4,Master,46,Female,Delhi,73404
21,22,Employee_22,Operations,14,Master,54,Female,Delhi,79045
22,23,Employee_23,Marketing,16,High School,22,Male,Bangalore,122888
23,24,Employee_24,HR,15,Master,48,Male,Bangalore,64790
24,25,Employee_25,HR,8,High School,34,Female,Bangalore,132455
25,26,Employee_26,IT,14,Master,24,Male,Hyderabad,30600
26,27,Employee_27,IT,8,Bachelor,27,Female,Delhi,119660
27,28,Employee_28,Finance,16,Master,29,Female,Hyderabad,118179
28,29,Employee_29,Marketing,13,High School,48,Male,Bangalore,65764
29,30,Employee_30,Marketing,18,High School,30,Male,Delhi,99543
30,31,Employee_31,IT,15,Bachelor,54,Female,Hyderabad,70714
31,32,Employee_32,Marketing,13,Master,45,Female,Hyderabad,81835
32,33,Employee_33,Marketing,9,Master,36,Male,Bangalore,127946
33,34,Employee_34,HR,15,Bachelor,53,Female,Delhi,134616
34,35,Employee_35,IT,13,Master,53,Male,Bangalore,130983
35,36,Employee_36,Operations,1,Master,45,Female,Delhi,98744
36,37,Employee_37,IT,7,High School,33,Male,Chennai,81491
37,38,Employee_38,Operations,9,Master,23,Male,Mumbai,149123
38,39,Employee_39,HR,1,Master,24,Male,Mumbai,43589
39,40,Employee_40,Finance,12,Bachelor,38,Female,Mumbai,68484
40,41,Employee_41,Marketing,8,Bachelor,23,Female,Bangalore,107989
41,42,Employee_42,HR,11,PhD,23,Male,Chennai,61212
42,43,Employee_43,Marketing,19,High School,49,Female,Delhi,68525
43,44,Employee_44,Finance,17,Master,44,Male,Hyderabad,72202
44,45,Employee_45,Finance,8,Master,53,Male,Delhi,57635
45,46,Employee_46,HR,3,PhD,54,Female,Hyderabad,88208
46,47,Employee_47,Finance,3,Master,22,Female,Delhi,58828
47,48,Employee_48,Operations,1,High School,40,Male,Chennai,43711
48,49,Employee_49,Finance,5,PhD,23,Female,Hyderabad,28420
49,50,Employee_50,Marketing,10,High School,47,Female,Bangalore,121752

In [3]:
df.drop(columns =['EmployeeID','Name'], inplace = True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Department        50 non-null     object
 1   Experience_Years  50 non-null     int64
 2   Education_Level   50 non-null     object
 3   Age               50 non-null     int64
 4   Gender            50 non-null     object
 5   City              50 non-null     object
 6   Monthly_Salary    50 non-null     int64
dtypes: int64(3), object(4)
memory usage: 2.9+ KB

In [7]:
df.isnull().sum()
df.duplicated().sum()

np.int64(0)

In [8]:
objcols = df.select_dtypes(include=['object']).columns
numcols = df.select_dtypes(include=['number']).columns

In [9]:
print(objcols)
print(numcols)

Index(['Department', 'Education_Level', 'Gender', 'City'], dtype='object')
Index(['Experience_Years', 'Age', 'Monthly_Salary'], dtype='object')

In [10]:
le = LabelEncoder()
df['Education_Level'] = le.fit_transform(df['Education_Level'])
df['Gender'] = le.fit_transform(df['Gender'])

In [13]:
df = pd.get_dummies(df)

In [16]:
X = df.drop(columns=['Monthly_Salary'])
Y = df['Monthly_Salary']

In [17]:
st = StandardScaler()
X_Scaled = st.fit_transform(X)

In [18]:
x_train, x_test, y_train, y_test = train_test_split(X_Scaled,Y,test_size=0.2,random_state=42)

In [39]:
pca = PCA(n_components = 0.90)
x_train = pca.fit_transform(x_train)
x_test = pca.transform(x_test)

In [40]:
lr = LinearRegression()
dt = DecisionTreeRegressor()
knn = KNeighborsRegressor()

In [47]:
models = {
    'Lr':lr, 'DT':dt, 'KNN':knn
}

for i,j in models.items():
    j.fit(x_train,y_train)
    y_pred_train = j.predict(x_train)
    y_pred_test = j.predict(x_test)

    train_acc = mean_squared_error(y_train, y_pred_train)
    test_acc  = np.sqrt(mean_squared_error(y_test, y_pred_test))
    
    print("====================================")
    print(f"Model: {i}")
    print(f"MSE: {train_acc:.4f}")
    print(f"RMSE : {test_acc:.4f}")

====================================
Model: Lr
MSE: 0.0563
RMSE : 0.2503
====================================
Model: DT
MSE: 0.0000
RMSE : 0.3271
====================================
Model: KNN
MSE: 0.0669
RMSE : 0.2846

In [43]:
model = Sequential()
model.add(Dense(units=20, input_dim = x_train.shape[1] ,activation = 'relu'))
model.add(Dense(units = 20,activation = 'relu'))
model.add(Dense(units=1,activation='linear'))
model.compile(loss='mean_squared_error',optimizer = 'adam')

In [44]:
model.fit(x_train,y_train,epochs = 15, batch_size = 8 , validation_data = (x_test,y_test))

Epoch 1/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 1s 50ms/step - loss: 0.5601 - val_loss: 0.3724
Epoch 2/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 0.4394 - val_loss: 0.3217
Epoch 3/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 0.3629 - val_loss: 0.2845
Epoch 4/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step - loss: 0.2959 - val_loss: 0.2581
Epoch 5/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 0.2406 - val_loss: 0.2383
Epoch 6/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step - loss: 0.2115 - val_loss: 0.2222
Epoch 7/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step - loss: 0.1873 - val_loss: 0.2109
Epoch 8/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step - loss: 0.1681 - val_loss: 0.2014
Epoch 9/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step - loss: 0.1508 - val_loss: 0.1945
Epoch 10/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 0.1370 - val_loss: 0.1891
Epoch 11/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step - loss: 0.1265 - val_loss: 0.1838
Epoch 12/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step - loss: 0.1153 - val_loss: 0.1799
Epoch 13/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step - loss: 0.1052 - val_loss: 0.1767
Epoch 14/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - loss: 0.0995 - val_loss: 0.1736
Epoch 15/15
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step - loss: 0.0923 - val_loss: 0.1713

In [46]:
y_pred = model.predict(x_test)
print(mean_squared_error(y_test,y_pred))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 58ms/step
0.17129807905525424